#filter-container {
    margin-top: 50px;
}

.filter-group label {
    text-align: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    width: fit-content;
}

.filter-group h4 {
    margin-bottom: 0.5em
}

.module-div-middle p {
    margin: 0;
}

.module-div-middle {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
    width: 200px;
}

.catalogue-template .module-div-right {
    width: 40px;
}

#reset-filter-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reset-filter-button-container h3 {
    margin: 0;
}

#reset-filter-button {
    background-color: var(--elephant-grey);
    color: white;
    font-size: 70%;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
}