.impressum-template {
    margin: 0% 20%;
    padding: 5% 0;
}

.impressum-template p{
    margin: 0.5em 0;
    font-size: 110%;
}

.impressum-template b{
    font-size: 110%;
}

.impressum-template a{
    margin: 0.5em 0;
    font-size: 110%;
}

.impressum-template h1{
    margin: 0.5em 0 1.5em 0;
}