html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    height: 100%;
}

:root {
    --french-blue: #0079ccff;
    --tiffany-blue: #97ead2ff;
    --naples-yellow: #ffdd63ff;
    --orange-crayola: #ff712fff;
    --hollywood-cerise: #da2f9eff;

    --celestial-blue: #0e9effff;
    --tiffany-blue: #aaeedbff;
    --jasmine: #ffe482ff;
    --atomic-tangerine: #ff8d58ff;
    --brilliant-rose: #e259b2ff;

    --light-sky-blue: #87cfffff;
    --mint-green: #d4f7edff;
    --vanilla: #fff1bfff;
    --apricot: #ffc5abff;
    --lavender-pink: #f0add9ff;

    --columbia-blue: #c7e8ffff;
    --azure-web: #ebfbf7ff;
    --cornsilk: #fff8e1ff;
    --champagne-pink: #ffe5d9ff;
    --mimi-pink: #f8d9edff;

    --light-grey: rgb(245, 245, 245);
    --middle-grey: rgb(235, 235, 235);
    --elephant-grey: rgb(192, 192, 192);
}

body {
    font-family: "Nunito";
}

.hidden {
    display: none !important;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    justify-content: right;
    background: linear-gradient(to right, var(--french-blue), var(--tiffany-blue), var(--apricot));
    align-items: center;
}

footer p {
    text-align: right;
    font-size: 80%;
    padding: 10px;
}

p {
    color: black;
}

a {
    font-weight: 200;
    text-decoration: underline;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    height: 100%;
    background-color: var(--light-grey);
    overflow: auto;
    padding-bottom: 30px;
}

button {
    font-family: "Nunito";
}