.modal {
    border-radius: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 0;
    /* display: none; */
}

.modal-content {
    text-align: center;
}

.modal-content h2{
    margin-top: 30px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
}

input {
    background-color: var(--middle-grey);
    border: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 0.5em;
}

input:focus {
    background-color: var(--champagne-pink);
    outline-color: var(--champagne-pink);
}

input[type="number"] {
    width: 10ch;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(120deg, var(--apricot), var( --lavender-pink));
    color: black;
    font-weight: bold;
}

button[type="submit"]:hover {
    background: linear-gradient(120deg,  var(--atomic-tangerine), var(--brilliant-rose));
    color: black;
    font-weight: bold;
}   

#module-title {
    width: 50ch;
}

.row-space {
    margin-top: 35px;
}

.form-row .radio-div{
    width: auto;
}

.button-container button{
    margin: 0 1vw;
}