.nav-bar {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, var(--french-blue), var(--tiffany-blue), var(--apricot));
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-align-left {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    user-select: none;
}

.nav-align-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    padding: 0 1vw;
}

.nav-align-left>div {
    margin: 0.2vh 1vw;
}

.nav-align-left>a {
    margin: 0.2vh 1vw;
}

.nav-align-right>div {
    margin: 0.2vh 1vw;
}

.nav-align-right>a {
    margin: 0.2vh 1vw;
    font-weight: 200;
    text-decoration: underline;
}

.navigation-button {
    text-decoration: none !important;
    margin: 0 !important;
}

.navigation-button p {
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: fit-content;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    border-radius: 0.5em;
    padding: 5px 10px;
}

#logout-button {
    width: fit-content;
}

.nav-align-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.selected-side {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
}

.selected-side p {
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
}

/* Responsive Layout */

/* @media (max-width: 850px) {
    .navigation-button p{
        font-size: 80%;
    }
} */

@media (max-width: 700px) {
    .navigation-button p {
        font-size: 80%;
    }

    .nav-bar {
        font-size: 80%;
    }

    #logout-button {
        font-size: 80%;
    }
}