.study-template {
    overflow-y: auto;
}

.study-template h2 {
    text-align: center;
}

.study-container {
    margin: 5vw;
    width: 700px;
    padding: 20px;
    background-color: white;
    border-radius: 0.5em;

    position: relative;
    top: 0;
    left: 0;
    margin: 20px auto;
    transform: none;
}

.grid-input-study {
    display: grid;
    grid-template-columns: 3fr 8fr;
    align-items: center;
    gap: 10px;
    overflow-y: hidden;
}

.section {
    margin: 20px 0;
}

.underline-button {
    color: black;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    margin: 0;
}

.submit-subject-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: right;
}

.submit-subject-section button {
    margin-left: 30px;
}

@media (max-width: 824px) {
    .study-container {
        width: 85vw;
    }

    .grid-input-study {
        grid-template-columns: 3fr 8fr;
    }

    .radio-div {
        width: 75vw;
    }
}

.study-container label {
    margin-left: 5px;
    grid-column: 1;
}

.grid-right {
    grid-column: 2;
}

.study-container input {
    grid-column: 2;
}

.study-container input[type='number'],
input[type='text'] {
    margin-bottom: 5px;
    margin-top: 5px;
}

.study-input-box {
    display: flex;
}

.study-input-box input[type="number"] {
    width: auto;
    margin-right: 10px;
}

.study-input-box input[type="text"] {
    width: 56ch;
    margin-right: 20px;
}

.submit-subject-button {
    width: 15ch;
}

.study-buttons {
    margin-left: auto;
    margin-top: 10px;
}

.answer {
    margin-left: auto;
    margin-top: 20px;
}

/* Quelle: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */

.radio-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.radio-div div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.radio-div label {
    text-align: left;
    align-items: center;
    width: auto;
    min-width: 0;
}

input[type='radio'] {
    accent-color: #0079cc;
    height: 1.2em;
    width: 1.2em;
    margin-top: 0;
}

.delete-subject-button {
    padding: 10px 20px;
    border: 2px solid var(--brilliant-rose);
    cursor: pointer;
    border-radius: 0.5em;
    color: var(--brilliant-rose);
    font-weight: bold;
    background-color: white;
    margin: 8px 5px;
    font-size: 19px;
    padding: 0 7px;
}